include src/parksim/data/*.csv
include src/parksim/data/*.json
include src/parksim/data/*.pkl
include src/parksim/hyperdict/*.json

prune docs
prune Figures.d
prune lightning_logs
prune notebooks
prune runs
prune runs_OLD
