include src/userpackage/data/*.csv
include src/userpackage/data/*.json
include src/userpackage/data/*.pkl
include src/userpackage/hyperdict/*.json

prune docs
prune Figures.d
prune lightning_logs
prune notebooks
prune runs
prune runs_OLD
