.DS_Store
/.quarto/
data/
runs/
figures
runs_Old
*.pkl
saved_models/
spotpython.fun.hyperlightning.log
42_optimization_02_files/
42_optimization_03_files/
42_optimization_03_files/
42_optimization_04_files/
docs/003_scipy_optimize_intro_files/
docs/003_scipy_optimize_intro_files/
spotpython.build.kriging.log
spotpython.fun.hyperlight.log
spotpython.spot.spot.log
userRNN/__pycache__/rnnlightregression.cpython-311.pyc
userRNN/__pycache__/user_hyper_dict.cpython-311.pyc
userRNN/__pycache__/userrnn.cpython-311.pyc
031_spot_lightning_linear_sensitive_032.qmd
userModel/__pycache__/light_hyper_dict.cpython-311.pyc
userModel/__pycache__/netlightregression.cpython-311.pyc
lightning_logs/
plot.png
spot_24-river_experiment.pickle
spot_025RIVER_experiment.pickle
spot_031_experiment.pickle
spot_033_experiment.pickle
site_libs/bootstrap/bootstrap-icons.css
site_libs/bootstrap/bootstrap-icons.woff
site_libs/bootstrap/bootstrap.min.css
site_libs/bootstrap/bootstrap.min.js
site_libs/clipboard/clipboard.min.js
site_libs/quarto-html/anchor.min.js
site_libs/quarto-html/popper.min.js
site_libs/quarto-html/quarto-syntax-highlighting.css
site_libs/quarto-html/quarto.js
site_libs/quarto-html/tippy.css
site_libs/quarto-html/tippy.umd.min.js
site_libs/quarto-nav/headroom.min.js
site_libs/quarto-nav/quarto-nav.js
site_libs/quarto-search/autocomplete.umd.js
site_libs/quarto-search/fuse.min.js
site_libs/quarto-search/quarto-search.js
docs/site_libs/bootstrap/bootstrap.min.css
userModel/__pycache__/
spot_100_experiment.pickle
docs/001_optimization_surrogate.html
docs/a_02_git_intro_en.html
docs/index.html
docs/search.json
docs/site_libs/bootstrap/bootstrap-icons.css
docs/site_libs/bootstrap/bootstrap-icons.woff
docs/site_libs/bootstrap/bootstrap.min.js
docs/site_libs/clipboard/clipboard.min.js
docs/site_libs/quarto-html/anchor.min.js
docs/site_libs/quarto-html/popper.min.js
docs/site_libs/quarto-html/quarto-syntax-highlighting.css
docs/site_libs/quarto-html/quarto.js
docs/site_libs/quarto-html/tippy.css
docs/site_libs/quarto-html/tippy.umd.min.js
docs/site_libs/quarto-nav/headroom.min.js
docs/site_libs/quarto-nav/quarto-nav.js
docs/site_libs/quarto-search/autocomplete.umd.js
docs/site_libs/quarto-search/fuse.min.js
docs/site_libs/quarto-search/quarto-search.js
docs/002_awwe.html
docs/002_awwe_files/figure-html/cell-11-output-1.png
docs/002_awwe_files/figure-html/cell-13-output-1.png
docs/002_awwe_files/figure-html/cell-14-output-1.png
docs/002_awwe_files/figure-html/cell-5-output-1.png
docs/002_awwe_files/figure-html/cell-6-output-1.png
docs/002_awwe_files/figure-html/cell-7-output-1.png
docs/003_scipy_optimize_intro.html
docs/figures_static/globalvslocal.png
