.DS_Store
/.quarto/
data/
runs/
figures
runs_Old
*.pkl
saved_models/
spotPython.fun.hyperlightning.log
42_optimization_02_files/
42_optimization_03_files/
42_optimization_03_files/
42_optimization_04_files/
docs/003_scipy_optimize_intro_files/
docs/003_scipy_optimize_intro_files/
spotPython.build.kriging.log
spotPython.fun.hyperlight.log
spotPython.spot.spot.log
userRNN/__pycache__/rnnlightregression.cpython-311.pyc
userRNN/__pycache__/user_hyper_dict.cpython-311.pyc
userRNN/__pycache__/userrnn.cpython-311.pyc
031_spot_lightning_linear_sensitive_032.qmd
