.DS_Store
/.quarto/
data/
runs/
figures
runs_Old
*.pkl
saved_models/
spotPython.fun.hyperlightning.log
42_optimization_02_files/
42_optimization_03_files/
42_optimization_03_files/
42_optimization_04_files/
docs/003_scipy_optimize_intro_files/
docs/003_scipy_optimize_intro_files/
spotPython.build.kriging.log
spotPython.fun.hyperlight.log
spotPython.spot.spot.log
userRNN/__pycache__/rnnlightregression.cpython-311.pyc
userRNN/__pycache__/user_hyper_dict.cpython-311.pyc
userRNN/__pycache__/userrnn.cpython-311.pyc
031_spot_lightning_linear_sensitive_032.qmd
userModel/__pycache__/light_hyper_dict.cpython-311.pyc
userModel/__pycache__/netlightregression.cpython-311.pyc
lightning_logs/
plot.png
spot_24-river_experiment.pickle
spot_025RIVER_experiment.pickle
spot_031_experiment.pickle
spot_033_experiment.pickle
site_libs/bootstrap/bootstrap-icons.css
site_libs/bootstrap/bootstrap-icons.woff
site_libs/bootstrap/bootstrap.min.css
site_libs/bootstrap/bootstrap.min.js
site_libs/clipboard/clipboard.min.js
site_libs/quarto-html/anchor.min.js
site_libs/quarto-html/popper.min.js
site_libs/quarto-html/quarto-syntax-highlighting.css
site_libs/quarto-html/quarto.js
site_libs/quarto-html/tippy.css
site_libs/quarto-html/tippy.umd.min.js
site_libs/quarto-nav/headroom.min.js
site_libs/quarto-nav/quarto-nav.js
site_libs/quarto-search/autocomplete.umd.js
site_libs/quarto-search/fuse.min.js
site_libs/quarto-search/quarto-search.js
docs/site_libs/bootstrap/bootstrap.min.css
docs/search.json
docs/ddmo.html
